{% extends 'base.html' %}

{% block content %}
  <div class="container">
      <form action="{% url 'create' %}" method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <h4>제목: </h4>
        <input type="text" name="title">
        <br>
        <br>
        <h4>본문: </h4>
        <textarea cols=40 rows=10 name="body"></textarea>
        <br>
        <br>
        <h4>첨부 사진</h4>
        <input type = "file" name = 'images' accept="image/*">
        <br>
        <br>
        <input class="btn btn-dark" type="submit" value="제출하기">
        <br>
        
      </form>
      
  </div>
  <br>
    <a href="{% url 'blogs' %}">돌아가기</a>
    <br>
 {% endblock %}